.top {
    font-size: 1.25rem;
    background-color: #ED2939;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cage {
    height: 60%;
    width: 50%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
}


.image {
    height: 500px;
}