.top {
    font-size: 1.25rem;
    background-color: #ED2939;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.backgroundImage {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    height: 100vh;
    /* oder die gewünschte Höhe */
}