.PCard {
    height: 500px;
    width: 200px;
    border-color: black;
    background-color: aliceblue;
}

.Picture {
    margin: 5px;
    width: 190px;
    height: 300;
    background-color: white;
}

.Notes {
    margin: 5px;
    width: 190px;
    height: 195px;
    background-color: aqua;
}